@model FinalProjectEntityFramework.Models.ViewModels.CreateChoreViewModel;

<h1>@Model.Name</h1>

<form method="post" asp-action="OneMonthSubmitted" asp-controller="Chore">
    <div>
        <label asp-for="ChosenMonth">Choose the month this chore will be completed</label>
        <select asp-for="ChosenMonth" asp-items="Model.Months"></select>
    </div>

    <input type="hidden" name="Name" value="@Model.Name" />
    <input type="hidden" name="ChosenCategory" value="@Model.ChosenCategory" />
    <input type="hidden" name="ChosenUser" value="@Model.ChosenUser" />
    <input type="hidden" name="ChosenChoreType" value="@Model.ChosenChoreType" />

    <input type="submit" class="btn btn-primary" value="Submit" />
</form>